@model School
@{
    ViewData["Title"] = "Información Escuela";
}
<h1>Escuela @ViewData["Title"]</h1>
<h2>Name: @Model.Name </h2>
<h3>School Type: @Model.SchoolType</h3>
<address>
        <p>
            Address: @Model.Address
        </p>
        <p>
            Country: @Model.Country
        </p>
        <p>
            City: @Model.City
        </p>
</address>
<p><strong>Foundation Year: @Model.FoundationYear </strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>