@model Course
@{
    ViewData["Title"] = "Información Curso";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["extraMessage"]</h2>
<strong>Desde la vista normal</strong>
<p>
    Name: @Model.Name <br />
    Id: @Model.Id
</p>
<strong>Desde la vista parcial</strong>
<partial name="_SimpleObjectSchool"/>
<p><i>@ViewBag.Date</i></p>